{% extends "core/UserProfileBase.html" %}
{% block content_title %}Manage Address{% endblock content_title %}

{% block content %}
{% load widget_tweaks %}
<style>
    .area-name{
        border: none;
        outline: none;
        padding: 0;
    }

    .btn-sub{
        border: none;
        height: 40px;
        width: 80px;
        background-color: #2874F0;
        color: white;
    }
</style>
<div class="container">
    <form action="" method="post"> {% csrf_token %}
        <h6>Add New Address</h6>
        <div class="d-flex gap-2 mb-3">
            <div class="card" style="display: inline-block; padding: 0px 10px 0px 10px;">
                <div class="card-body p-0">
                    <label for="" style="font-size: 13px;">Full Name</label>
                </div>
                {{ formData.fullName|add_class:"area-name" }}
            </div>

            <div class="card" style="display: inline-block; padding: 0px 10px 0px 10px;">
                <div class="card-body p-0">
                    <label for="" style="font-size: 13px;">State</label>
                </div>
                {{ formData.state|add_class:"area-name" }}
            </div>

            <div class="card" style="display: inline-block; padding: 0px 10px 0px 10px;">
                <div class="card-body p-0">
                    <label for="" style="font-size: 13px;">City</label>
                </div>
                {{ formData.city|add_class:"area-name" }}
            </div>
        </div>

        <div class="d-flex gap-2 mb-3">
            <div class="card" style="display: inline-block; padding: 0px 10px 0px 10px;">
                <div class="card-body p-0">
                    <label for="" style="font-size: 13px;">Area</label>
                </div>
                {{ formData.area|add_class:"area-name" }}
            </div>
            <div class="card" style="display: inline-block; padding: 0px 10px 0px 10px;">
                <div class="card-body p-0">
                    <label for="" style="font-size: 13px;">Block/Word</label>
                </div>
                {{ formData.block|add_class:"area-name" }}
            </div>
            <div class="card" style="display: inline-block; padding: 0px 10px 0px 10px;">
                <div class="card-body p-0">
                    <label for="" style="font-size: 13px;">Landmark</label>
                </div>
                {{ formData.landmark|add_class:"area-name" }}
            </div>
        </div>

        <div class="d-flex gap-2 mb-3">
            <div class="card" style="display: inline-block; padding: 0px 10px 0px 10px;">
                <div class="card-body p-0">
                    <label for="" style="font-size: 13px;">Pin</label>
                </div>
                {{ formData.pin|add_class:"area-name" }}
            </div>
            <div class="card" style="display: inline-block; padding: 0px 10px 0px 10px;">
                <div class="card-body p-0">
                    <label for="" style="font-size: 13px;">Mobile</label>
                </div>
                {{ formData.mobile|add_class:"area-name" }}
            </div>
            <div class="card" style="display: inline-block; padding: 0px 10px 0px 10px;">
                <div class="card-body p-0">
                    <label for="" style="font-size: 13px;">AddressType</label>
                </div>
                {{ formData.addressType|add_class:"area-name" }}
            </div>
        </div>
        
        <div class="mb-3">
            <button type="submit" class="btn-sub">Save</button>
        </div>
    </form>
</div>
{% endblock content %}