{% load static %}
<style>
    .carousel-item img {
        height: 400px;
        object-fit: fit;
    }
</style>


<div id="carouselExample" class="carousel slide p-2" data-bs-ride="carousel" style="margin-top: 60px;">
    <div class="carousel-inner">
        {% for item in carousal_data %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                <img src="{{ item.carousalImages.url }}" class="d-block w-100" alt="{{ item.imageName }}">
            </div>
        {% endfor %}
    </div>
    
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
