<div class="container-wrapper card m-2">
    <div class=" card-body">
        <div class="mb-3">
            <h4>Best Solid State Drives</h4>
        </div>

        <div>
            {% for p in ssdData %}
            <div class="card" style="display: inline-block; width: 180px; cursor: pointer;"
                onclick="window.location.href='{% url 'productdetail' p.id %}'">
                <div class="card-body">
                    <div class="row">
                        <img src="{{ p.productImages.url }}" alt="" style="height:120px;">
                    </div>
                    <div class="row mt-1">
                        <span>
                            <i class="bi bi-stopwatch p-1"
                                style="background-color: antiquewhite; font-size: 9px; font-weight: bold; border-radius: 15px;">
                                {{ p.time }}
                            </i>
                        </span>
                    </div>
                    <div class="row mt-1" style="height: 50px; overflow: hidden;">
                        <span style="font-weight: 500;">{{ p.productName }}</span>
                    </div>
                    <div class="row mt-1">
                        <span style="font-size: 11px; color: gray; font-weight: 500;">{{ p.type }}</span>
                    </div>
                    <div class="row mt-1">
                        <div class="col-6 d-flex justify-content-start align-items-center">
                            <span style="font-size: 14px; font-weight: 500;"><span>₹</span>{{ p.price }}</span>
                        </div>
                        <div class="col-6 d-flex justify-content-end align-items-center">
                            <a href="{% url 'modelCart' p.id %}" style="text-decoration: none;">
                                <div class="d-flex justify-content-center align-items-center"
                                    style="border: solid 2px green; padding: 3px; width: 50px; border-radius: 5px;">
                                    <span class="text-center"
                                        style="font-size: 12px; color: green; font-weight: 500;">ADD</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {% empty %}
            <p>No products found.</p>
            {% endfor %}
        </div>
    </div>
</div>