{% extends "core/UserProfileBase.html" %}
{% load static %}

{% block content_title %} My Profile {% endblock content_title %}

{% block content %}
{% load widget_tweaks %}

<style>
    .area-name {
        border: none;
        outline: none;
        padding: 0;
    }

    .btn-sub {
        border: none;
        height: 40px;
        width: 80px;
        background-color: #2874F0;
        color: white;

    }

    .email-box {
        width: 390px;
    }

    .gender-box {
        width: 130px;
    }
</style>

<div class="container">
    <form action="" method="post" enctype="multipart/form-data"> {% csrf_token %}
        <div class="row">
            <div class="col-6" style="border-right: solid 1px rgb(165, 165, 165);">
                <h6>Personal Information</h6>
                <div class="d-flex gap-2 mb-3">
                    <div class="card " style="display: inline-block; padding: 0px 10px 0px 10px;">
                        <div class="card-body p-0">
                            <label for="" style="font-size: 13px;">First Name</label>
                        </div>
                        {{ form.first_name|add_class:"area-name" }}

                        {% if form.first_name.errors %}
                        <div class="text-danger" style="font-size: 12px; color: red;">
                            {% for error in form.first_name.errors %}
                            {{ error|escape }}<br>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>

                    <div class="card" style="display: inline-block; padding: 0px 10px 0px 10px;">
                        <div class="card-body p-0">
                            <label for="" style="font-size: 13px;">Last Name</label>
                        </div>
                        {{ form.last_name|add_class:"area-name" }}


                        {% if form.last_name.errors %}
                        <div class="text-danger" style="font-size: 12px; color: red;">
                            {% for error in form.last_name.errors %}
                            {{ error|escape }}<br>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                </div>

                <h6>More Details</h6>
                <div class="d-flex gap-2 mb-3">
                    <div class="card" style="display: inline-block; padding: 0px 10px 0px 10px;">
                        <div class="card-body p-0">
                            <label for="" style="font-size: 13px;">Mobile Number</label>
                        </div>
                        {{ form.mobile|add_class:"area-name" }}

                        {% if form.mobile.errors %}
                        <div class="text-danger" style="font-size: 12px; color: red;">
                            {% for error in form.mobile.errors %}
                            {{ error|escape }}<br>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>

                    <div class="card" style="display: inline-block; padding: 0px 10px 0px 10px; width: 150px">
                        <div class="card-body p-0">
                            <label for="" style="font-size: 13px;">Gender</label>
                        </div>
                        {{ form.gender|add_class:"area-name gender-box" }}
                    </div>
                </div>

                <h6>Email Address</h6>
                <div class="card mb-2" style="display: inline-block; padding: 0px 10px 0px 10px; width: 412px;">
                    <div class="card-body p-0">
                        <label for="" style="font-size: 13px;">Email</label>
                    </div>
                    {{ form.email|add_class:"area-name email-box" }}

                    {% if form.email.errors %}
                        <div class="text-danger" style="font-size: 12px; color: red;">
                            {% for error in form.email.errors %}
                            {{ error|escape }}<br>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                <div class="btn-box">
                    <h6>Change Image</h6>
                    <input type="file" name="{{ form.profile_image.name }}" id="{{ form.profile_image.id_for_label }}"
                        class="form-control-file">
                </div>

                <div class="mb-3 mt-3">
                    <button type="submit" class="btn-sub">Save</button>
                </div>
            </div>

            <div class="col-6">
                <h6>Profile Image</h6>
                {% if user.profile.profile_image %} {# Check if image exists first #}
                <div class="d-flex justify-content-center align-items-center">
                    <img src="{{ user.profile.profile_image.url }}" alt="Profile Image"
                        style="width: 350px; height: 350px; object-fit: cover; border-radius: 50%; border: solid 2px orange;">
                </div>
                {% else %}
                <div class="d-flex justify-content-center align-items-center">
                    <img src="{% static 'images/default.jpg' %}" alt="Profile Image"
                        style="width: 350px; height: 350px; object-fit: cover; border-radius: 50%; border: solid 2px orange;">
                </div>
                {% endif %}
            </div>
        </div>
    </form>
</div>
{% endblock content %}